.oreo {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
  .oreo:last-child {
    margin-bottom: 0;
  }
  
  .avatar {
    flex: 0 0 128px;
    width: 128px;
    height: 128px;
    margin: 0;
  }
  
  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }
  
  .flavor {
    margin: 0 0 12px 0;
    padding: 0;
  }
  
  .review {
    margin: 0;
  }